# Redis Stuff (Redis Client History and Redis File)
.rediscli_history
.data/
dump.rdb

# wget
.wget-hsts

# dotenv environment variables file
.env
.env.test

# glitch.com project assets
.glitch-assets

# node
shrinkwrap.yaml